extends layout

block content
    .container-fluid
        fieldset
            h1=title
            p=message
            form(method="GET")
                p
                button(id="Refresh" type="button" class="button" onclick="location.reload()")="Refresh"
                button(id="NewNote" type="button" class="button" onclick="location.href='newNote'")="New Note"
                button(id="DeleteAll" type="button" class="button" onclick="location.href='confirmDeleteAll'")="Delete All"
                p
                if error
                    p=error
                else
                    ol
                    each note in notes
                        li
                            a(href="note/" + note._id) #{note.title}
                    else
                        p="There are no notes!"