extends layout

block content
    .container-fluid
        fieldset
            h1=title
            p=message
            form(method="GET")
                button(id="Refresh" class="button")="Refresh"
                a(id="NewNote" class="button" href="new")="New Note"
                a(id="DeleteAll" class="button")="Delete All"
                p
                if error
                    p= error
                else
                    each note in notes
                        a(href="note/" + note._id) #{note.title}
                    else
                        p= "There are no notes!"