extends layout

block content
    .container-fluid
        fieldset
            h1=headline
            p
            p=message
            p
            form(method="get" action="/index")
                if note
                    p="Your note reads:"
                    h2=note.title
                    p
                    p=note.content
                if error
                    p=error
                p
                button(id="OK" type="submit" class="button")="OK"
