extends layout

block content
    .container-fluid
        fieldset
            h1=headline
            p
            p=message
            p
            form(method="get" action=okAction || "/index")
                if note
                    p="Your note reads:"
                    h2=note.title
                    p
                    p=note.content
                if error
                    p=error
                p
                if okAction
                    button(id="Cancel" type="reset" class="button" onclick="history.back()")="Cancel"
                button(id="OK" type="submit" class="button")="OK"
